footer {
  color: black;
  padding: 24px 0px;
  text-align: center;
  background-color: #e8e8e8;
  font-weight: 600;
  border-top: 2px solid #af9f9f;
  display: flex;
  justify-content: center;
  padding-right: 40px;
  align-items: center;
}

footer p {
  margin-left: auto;
}

footer button {
  margin-left: auto;
  border-radius: 100%;
  height: 35px;
  width: 38px;
  border: 2px solid white;
}